layout {

    focus-ring {
        active-color   "#bac6e5"
        inactive-color "#131315"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bac6e5"
        inactive-color "#131315"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#bac6e5"
        inactive-color "#54607b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bac6e580"
    }
}

recent-windows {
    highlight {
        active-color "#bac6e5"
        urgent-color "#ffb4ab"
    }
}
